/* Import fonts here from google fonts and configure fintFamily in the "tailwind.config.ts" to use localy */
/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap'); */


@import "tailwindcss";

@font-face {
    font-family: "Pacifico";
    src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.font-paci {
    font-family: "pacifico";
}